/ETL_workspace/
/pre_data_proccessing_workspace/

*.json
.env
*.txt
*.csv
*.xlsx
*.db

docker/superset/home/superset.db

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
credentials/
# end dbt Cloud content


